<% content_for :css do %>
    <%= stylesheet_link_tag "chosen/chosen" %>
    <%= stylesheet_link_tag "chosen/chosen.min" %>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag "chosen/chosen.jquery" %>
    <%= javascript_include_tag "chosen/chosen.jquery.min" %>
    <%= javascript_include_tag "users_courses/main" %>
<% end %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" style="margin: 10px 10px 20px 10px">
            <a href="/users_courses/new"><button class="btn btn-default">Add A User's Course</button></a>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">User's Courses</div>
                <div class="panel-body">
                    
                <% @users.each do |user| %>
                    <div class="panel col-md-6">
                        <% user.course.each do |course| %>
                        <div class="panel-body">
                            <div class="col-sm-11">
                                <p><%= course.subject %> <%= course.number %> - <%= course.credit %></p>
                                <p><%= course.title %></p>
                            </div>
                        </div>
                        <% end %>
                    </div>
                <% end %>

                </div>
            </div>
        </div>
    </div>
</div>