<% content_for :script do %>
    <%= javascript_include_tag "majors_concentration/main" %>
<% end %>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-image">
                    <img src="/images/picture.jpg">
                    <span class="card-title white-text">Register</span>
                </div>
                <div class="card-content">

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-6" data-tip="Your full name">
                                <%= f.text_field :name, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">E-Mail Address</label>
                            <div class="col-md-6" data-tip="Your Covenant email">
                                <%= f.email_field :email, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Banner ID</label>
                            <div class="col-md-6" data-tip="Your Covenant Banner ID">
                                <%= f.text_field :banner_id, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Enrollment Year</label>
                            <div class="col-md-6" data-tip="e.g. 2015">
                                <%= f.number_field :enrollment_time, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Expected Graduation Year</label>
                            <div class="col-md-6"  data-tip="e.g. 2019">
                                <%= f.number_field :graduation_time, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Password</label>
                            <div class="col-md-6" data-tip="Password must be 6 characters long">
                                <%= f.password_field :password, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirm Password</label>
                            <div class="col-md-6">
                                <%= f.password_field :password_confirmation, class: 'form-control' %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Major</label>
                            <div class="col-md-6" data-tip="Leave blank if undecided">
                                <%= collection_select(:user, :major, Major.order(:name), :id, :name, {:prompt => true}, {:class => 'form-control chosen-select', :multiple => true, :id => 'major_select'}) %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Minor</label>
                            <div class="col-md-6" data-tip="Leave blank if undecided">
                                <%= collection_select(:user, :minor, Minor.order(:name), :id, :name, {:prompt => true}, {:class => 'form-control chosen-select', :multiple => true}) %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Concentration</label>
                            <div class="col-md-6">
                                <%= grouped_collection_select(:user, :concentration, Major.order(:name), :concentration, :name, :id, :name, {:prompt => true}, {:class => 'form-control chosen-select', :multiple => true, :id => 'concentration_select'}) %>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <%= f.submit "Submit", class: "btn btn-default" %>
                            </div>
                        </div>

                    <% end %>
                
                </div>
            </div>
        </div>
    </div>
</div>