<!-- app/views/welcome/index.html.erb -->
<%
=begin comment
%> 

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end
%>

<% content_for :script do %>
    <%= javascript_include_tag "advising/index/main" %>
<% end %>

<%= @user_concentration %>

<div class="container-fluid">
    <div class="row">
        <% if @current_user.role == "student" %>
        <div class="col-sm-7">
            <div class="panel panel-default">
                <div class="panel-heading">Plan</div>
                <div class="panel-body">
                    <% @semesters.each_slice(2) do |semester1, semester2| %>
                    <div class="row row-eq-height">
                        <div class="panel panel-default col-sm-6" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester1 %></div>
                            <div class="panel-body board" id="<%= semester1 %>">
                                <% @courses.each do |course| %>
                                    <% if UsersCourse.where(course_id: course.id, user_id: @user.id).first.taken_planned == semester1 %>
                                    <div class="panel panel-default col-sm-12 item" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col-sm-10 col-sm-10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester1 %>_hours">Total Hours: <%= @user_semester_hours["#{semester1}"] ? @user_semester_hours["#{semester1}"] : 0 %>
                            </div>
                        </div>
                        <div class="panel panel-default col-sm-6" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester2 %></div>
                            <div class="panel-body board" id="<%= semester2 %>">
                                <% @courses.each do |course| %>
                                    <% if UsersCourse.where(course_id: course.id, user_id: @user.id).first.taken_planned == semester2 %>
                                    <div class="panel panel-default col-sm-12 item" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col-sm-10 col-sm-10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester2 %>_hours">Total Hours: <%= @user_semester_hours["#{semester2}"] ? @user_semester_hours["#{semester2}"] : 0 %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#required_courses">
                        Required Courses
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="required_courses">
                    <div class="panel-body dynamic">
                        <%= render partial: "courses", user: @user %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#other_courses">
                        Add other courses
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="other_courses">
                    <div class="panel-body other_courses_list" id="origin">
                        <%= render partial: "other_courses" %>
                    </div>
                </div>
            </div>
        </div>
        <% else %>
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Teacher | Admin Resources</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">Log in as student</div>
                            <div class="panel-body">
                                <%= form_for :user, url: '/become_student', html:{class: "form-horizontal"} do |f| %>
                                <%= collection_select(:user, :id, @students, :id, :name, {:prompt => true}, {:class => 'chosen-select', :id => 'student_select'}) %>
                                <%= f.submit "Login as student", class: "btn btn-default" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">User</div>
                            <div class="panel-body">
                                <a href="/users_majors" class="col-sm-12 btn btn-default">Add/Remove a student's major</a>
                                <a href="/users_minors" class="col-sm-12 btn btn-default">Add/Remove a student's minor</a>
                                <a href="/users_concentrations" class="col-sm-12 btn btn-default">Add/Remove a student's concentration</a>
                                <a href="/users_courses" class="col-sm-12 btn btn-default">Add/Remove a student's course</a>
                                <a href="#" class="col-sm-12 btn btn-default">Edit a student's profile</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Major</div>
                            <div class="panel-body">
                                <a href="/majors_courses" class="col-sm-12 btn btn-default">Add/Remove a majors's course</a>
                                <a href="/majors_concentrations" class="col-sm-12 btn btn-default">Add/Remove a major's concetration</a>
                                <a href="/majors/new" class="col-sm-12 btn btn-default">Add a major</a>
                                <a href="/majors" class="col-sm-12 btn btn-default">Edit a major</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Minor</div>
                            <div class="panel-body">
                                <a href="/minors_courses" class="col-sm-12 btn btn-default">Add/Remove a minors's course</a>
                                <a href="/minors/new" class="col-sm-12 btn btn-default">Add a minor</a>
                                <a href="/minors" class="col-sm-12 btn btn-default">Edit a minor</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Concentration</div>
                            <div class="panel-body">
                                <a href="/minors_courses" class="col-sm-12 btn btn-default">Add/Remove a concentration's course</a>
                                <a href="/minors/new" class="col-sm-12 btn btn-default">Add a concetration</a>
                                <a href="/minors" class="col-sm-12 btn btn-default">Edit a concentration</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Distribution</div>
                            <div class="panel-body">
                                <a href="/minors_courses" class="col-sm-12 btn btn-default">Add/Remove a distribution's course</a>
                                <a href="/minors/new" class="col-sm-12 btn btn-default">Add a distribution</a>
                                <a href="/minors" class="col-sm-12 btn btn-default">Edit a distribution</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>