<!-- app/views/welcome/index.html.erb -->
<%
=begin comment
%> 

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end
%>

<% content_for :css do %>
<style type="text/css">
    .btn {
        margin-top: 5px;
    }
</style>
<% end %>

<% content_for :script do %>
    <%= javascript_include_tag "advising/index/main" %>
<% end %>

<div class="container-fluid">
    <div class="row">
        <% if @current_user.role == "student" %>
        <div class="col s12 m12 l7">
            <div class="row" style="margin: 0; padding: 0">
                <div class="col s11">
                    <ul id="tabs" class="nav nav-tabs">
                        <% @plans.each do |plan| %>
                            <li>
                                <a href="#plan_<%= plan.id %>" id="<%= plan.id %>" class="plan"><%= plan.name %></a>
                            </li>
                        <% end %>
                    </ul>
                </div>
                <div class="fixed-action-btn horizontal col s1" style="position: relative; right: 0; bottom: 0; padding-left: 0; padding-top: 5px">
                    <a class="btn-floating btn-small red">
                        <i class="small material-icons">menu</i>
                    </a>
                    <ul>
                        <li><a class="btn-floating green" id="add_plan"><i class="material-icons">add</i></a></li>
                        <li><a class="btn-floating yellow darken-1" id="edit_plan"><i class="material-icons">mode_edit</i></a></li>
                        <li><a class="btn-floating red" id="delete_plan"><i class="material-icons">delete</i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/images/picture.jpg">
                    <span class="card-title white-text" id="plan_title"></span>
                </div>
                <% @plans.each do |plan| %>
                <div class="card-content" id="plan_<%= plan.id %>" style="display: none">
                    <% @semesters.each_slice(2) do |semester1, semester2| %>
                    <div class="row row-eq-height">
                        <div class="panel panel-default col s12 m6 l6" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester1 %></div>
                            <div class="panel-body board" id="<%= semester1 %>">
                                <% plan.course.each do |course| %>
                                    <% if PlansCourse.where(course_id: course.id, plan_id: plan.id).first.taken_planned == semester1 %>
                                    <div class="panel panel-default col s12 item hoverable" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col s10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester1 %>_hours">Total Hours: <%= @user_semester_hours["#{semester1}"] ? @user_semester_hours["#{semester1}"] : 0 %>
                            </div>
                        </div>
                        <div class="panel panel-default col s12 m6 l6" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester2 %></div>
                            <div class="panel-body board" id="<%= semester2 %>">
                                <% plan.course.each do |course| %>
                                    <% if PlansCourse.where(course_id: course.id, plan_id: plan.id).first.taken_planned == semester2 %>
                                    <div class="panel panel-default col s12 item hoverable" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col s10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester2 %>_hours">Total Hours: <%= @user_semester_hours["#{semester2}"] ? @user_semester_hours["#{semester2}"] : 0 %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>
        <div class="col s12 m5 l5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#required_courses">
                        Required Courses
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="required_courses">
                    <div class="panel-body dynamic">
                        <%= render partial: "courses", user: @user %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#other_courses">
                        Add courses
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="other_courses">
                    <div class="panel-body other_courses_list" id="origin">
                        <%= render partial: "other_courses" %>
                    </div>
                </div>
            </div>
        </div>
        <% else %>
        <div class="col s12">
            <div class="col s12 m12 l12">
                <div class="panel panel-info">
                    <div class="panel-heading">Log in as student</div>
                    <div class="panel-body">
                        <%= form_for :user, url: '/become_student', html:{class: "form-horizontal"} do |f| %>
                        <%= collection_select(:user, :id, @students, :id, :name, {:prompt => true}, {:class => 'form-control chosen-select', :id => 'student_select'}) %>
                        <%= f.submit "Login as student", class: "btn blue-grey btn-primary" %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="panel panel-default">
                    <div class="panel-heading">Student</div>
                    <div class="panel-body">
                        <a href="/users_majors" class="col s12 btn blue-grey btn-default">Add/Remove a student's major</a>
                        <a href="/users_minors" class="col s12 btn blue-grey btn-default">Add/Remove a student's minor</a>
                        <a href="/users_concentrations" class="col s12 btn blue-grey btn-default">Add/Remove a student's concentration</a>
                        <a href="#" class="col s12 btn blue-grey btn-default">Edit a student's profile</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="panel panel-default">
                    <div class="panel-heading">Major</div>
                    <div class="panel-body">
                        <a href="/majors_courses" class="col s12 btn blue-grey btn-default">Add/Remove a majors's course</a>
                        <a href="/majors_concentrations" class="col s12 btn blue-grey btn-default">Add/Remove a major's concetration</a>
                        <a href="/majors/new" class="col s12 btn blue-grey btn-default">Add a major</a>
                        <a href="/majors" class="col s12 btn blue-grey btn-default">Show all major</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="panel panel-default">
                    <div class="panel-heading">Minor</div>
                    <div class="panel-body">
                        <a href="/minors_courses" class="col s12 btn blue-grey btn-default">Add/Remove a minors's course</a>
                        <a href="/minors/new" class="col s12 btn blue-grey btn-default">Add a minor</a>
                        <a href="/minors" class="col s12 btn blue-grey btn-default">Show all minor</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col s12 m6 l4">
                <div class="panel panel-default">
                    <div class="panel-heading">Concentration</div>
                    <div class="panel-body">
                        <a href="/minors_courses" class="col s12 btn blue-grey btn-default">Add/Remove a concentration's course</a>
                        <a href="/concentrations/new" class="col s12 btn blue-grey btn-default">Add a concetration</a>
                        <a href="/concentrations" class="col s12 btn blue-grey btn-default">Show all concentration</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="panel panel-default">
                    <div class="panel-heading">Distribution</div>
                    <div class="panel-body">
                        <a href="/minors_courses" class="col s12 btn blue-grey btn-default">Add/Remove a distribution's course</a>
                        <a href="/distributions/new" class="col s12 btn blue-grey btn-default">Add a distribution</a>
                        <a href="/distributions" class="col s12 btn blue-grey btn-default">Show all distribution</a>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>