<!-- app/views/welcome/index.html.erb -->
<%
=begin comment
%> 

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end
%>

<% content_for :script do %>
    <%= javascript_include_tag "welcome/index/main" %>
<% end %>

<%= @user_concentration %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">Plan</div>
                <div class="panel-body">
                    <% @semesters.each_slice(2) do |semester1, semester2| %>
                    <div class="row row-eq-height">
                        <div class="panel panel-default col-md-6" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester1 %></div>
                            <div class="panel-body board" id="<%= semester1 %>">
                                <% @courses.each do |course| %>
                                    <% if UsersCourse.where(course_id: course.id, user_id: @user.id).first.taken_planned == semester1 %>
                                    <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col-md-10 col-sm-10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester1 %>_hours">Total Hours: <%= @user_semester_hours["#{semester1}"] ? @user_semester_hours["#{semester1}"] : 0 %>
                            </div>
                        </div>
                        <div class="panel panel-default col-md-6" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester2 %></div>
                            <div class="panel-body board" id="<%= semester2 %>">
                                <% @courses.each do |course| %>
                                    <% if UsersCourse.where(course_id: course.id, user_id: @user.id).first.taken_planned == semester2 %>
                                    <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col-md-10 col-sm-10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button" id=<%= course.id %>>
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester2 %>_hours">Total Hours: <%= @user_semester_hours["#{semester2}"] ? @user_semester_hours["#{semester2}"] : 0 %>
                            </div>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#required_courses">
                        Required Courses
                    </a>
                </div>
                <div class="panel-collapse collapse out" id="required_courses">
                    <div class="panel-body dynamic">
                        <%= render partial: "courses", user: @user %>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-target="#other_courses">
                        Add other courses
                    </a>
                </div>
                <div class="panel-collapse collapse in" id="other_courses">
                    <div class="panel-body other_courses_list">
                        <div class="form-group col-md-10">
                            <div class="col-md-12">
                                <%= collection_select(:course, :id, Course.all, :id, :fullCourseName, {:prompt => true}, {:class => 'form-control chosen-select add_course'}) %>
                            </div>
                        </div>
                        <button class="col-md-2 btn btn-primary" id="generate_course">Generate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>