<!-- app/views/welcome/index.html.erb -->
<%
=begin comment
%> 

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end
%>

<% content_for :script do %>
    <%= javascript_include_tag "welcome/index/main" %>
<% end %>

<%= @user_concentration %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">Plan</div>
                <div class="panel-body">
                    <% @semesters.each do |semester| %>
                        <div class="panel panel-default col-md-12" style="padding: 0 0 0 0">
                            <div class="panel-heading"><%= semester %></div>
                            <div class="panel-body board" id="<%= semester %>">
                                <% @courses.each do |course| %>
                                    <% if UsersCourse.where(course_id: course.id, user_id: @user.id).first.taken_planned == semester %>
                                    <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin-bottom: 0; padding: 0">
                                        <div class="panel-body" style="padding: 0">
                                            <p class="col-md-10 col-sm-10">
                                            <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                            </p>
                                            <button class="pull-right remove_button" id=<%= course.id %>>
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="panel-footer text-right" id="<%= semester %>_hours">Total Hours: <%= @user_semester_hours["#{semester}"] ? @user_semester_hours["#{semester}"] : 0 %></div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Courses To Take</div>
                <div class="panel-body">
                    <% @majors.each do |major| %>
                        <div class="panel panel-default">
                            <div class="panel-heading completion_major_<%= major.id %>" id="<%= @completion_hash["major"][major.id] ? "completed" : "not_completed" %>">
                                <a data-toggle="collapse" data-target="#major_<%= major.id %>">
                                    <%= major.name %> Major
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="major_<%= major.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope" id="major__<%= major.id %>">
                                    <% major.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0; padding: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10 col-sm-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                                <div class="pull-right" style="display: none">
                                                    <i class="fa fa-times remove_button" id=<%= course.id %>></i>
                                                </div>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% @minors.each do |minor| %>
                        <div class="panel panel-default">
                            <div class="panel-heading completion_minor_<%= minor.id %>" id="<%= @completion_hash["minor"][minor.id] ? "completed" : "not_completed" %>">
                                <a data-toggle="collapse" data-target="#minor_<%= minor.id %>">
                                    <%= minor.name %> Minor
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="minor_<%= minor.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope" id="minor__<%= minor.id %>">
                                    <% minor.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0; padding: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10 col-sm-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% @concentration.each do |concentration| %>
                        <div class="panel panel-default">
                            <div class="panel-heading completion_concentration_<%= concentration.id %>" id="<%= @completion_hash["concentration"][concentration.id] ? "completed" : "not_completed" %>">
                                <a data-toggle="collapse" data-target="#concentration_<%= concentration.id %>">
                                    <%= concentration.name %> Concentration
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="concentration_<%= concentration.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope" id="concentration__<%= concentration.id %>">
                                    <% concentration.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0; padding: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10 col-sm-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% @distributions.each do |distribution| %>
                        <div class="panel panel-default">
                            <div class="panel-heading completion_distribution_<%= distribution.id %>" id="<%= @completion_hash["distribution"][distribution.id] ? "completed" : "not_completed" %>">
                                <a data-toggle="collapse" data-target="#distribution_<%= distribution.id %>">
                                    <%= distribution.title %> Distribution
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="distribution_<%= distribution.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope" id="distribution__<%= distribution.id %>">
                                    <% distribution.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0; padding: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10 col-sm-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>