<!-- app/views/welcome/index.html.erb -->
<%
=begin comment
%> 

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end
%>

<% content_for :script do %>
    <%= javascript_include_tag "welcome/index/main" %>
<% end %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">Plan</div>
                <div class="panel-body">
                    <!-- <div class="panel panel-default col-md-12" style="padding: 0 0 0 0">
                        <div class="panel-body board" id="2015f">
                            <% @courses.each do |course| %>
                                <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0">
                                    <div class="panel-body" style="padding: 0">
                                        <p class="col-md-10">
                                        <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                        </p>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                        <div class="panel-footer text-right" id="hours">Total Hours: <%= @hours %></div> -->
                        <% @semesters.each do |semester| %>
                            <div class="panel panel-default col-md-6" style="padding: 0 0 0 0">
                                <div class="panel-heading"><%= semester %></div>
                                <div class="panel-body board" id="<%= semester %>">
                                    <% @courses.each do |course| %>
                                        <% if UsersCourse.where(course_id: course.id, user_id: @user.id).first.taken_planned == semester %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                                <div class="panel-footer text-right" id="<%= semester %>_hours">Total Hours: <%= @hours %></div>
                            </div>
                        <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">Courses To Take</div>
                <div class="panel-body">
                    <% @majors.each do |major| %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#major_<%= major.id %>">
                                    <%= major.name %> Major
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="major_<%= major.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope">
                                    <% major.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% @minors.each do |minor| %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#minor_<%= minor.id %>">
                                    <%= minor.name %> Minor
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="minor_<%= minor.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope">
                                    <% minor.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% @concentration.each do |concentration| %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#concentration_<%= concentration.id %>">
                                    <%= concentration.name %> Concentration
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="concentration_<%= concentration.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope">
                                    <% concentration.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                    <% @distributions.each do |distribution| %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#distribution_<%= distribution.id %>">
                                    <%= distribution.title %> Distribution
                                </a>
                            </div>
                            <div class="panel-collapse collapse out item_group" id="distribution_<%= distribution.id %>" style="padding: 0; margin: 0">
                                <div class="panel-body board nope">
                                    <% distribution.course.each do |course| %>
                                        <% if !@courses.include?(course) %>
                                        <div class="panel panel-default col-md-12 item" id=<%= course.id %> style="margin: 0">
                                            <div class="panel-body" style="padding: 0">
                                                <p class="col-md-10">
                                                <%= course.subject %> <%= course.course_number %> - <%= course.title %>
                                                </p>
                                            </div>
                                        </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>