<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
          <div class="form-group">
              <label class="col-md-4 control-label">E-Mail Address</label>
              <div class="col-md-6">
                  <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
          </div>

          <div class="form-group">
              <label class="col-md-4 control-label">Password</label>
              <div class="col-md-6">
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
              <div class="checkbox">
                <% if devise_mapping.rememberable? -%>
                  <label class="control-label">
                    <%= f.check_box :remember_me %>
                    Remember me
                  </label>
                <% end -%>
              </div>
            </div>
          </div>

          <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                  <%= f.submit "Log in", class: 'btn btn-primary' %>
                  <%= link_to "Forgot your password?", new_password_path(resource_name), class: 'btn btn-link' %>
              </div>
          </div>
          <% end %>

            </div>
        </div>
    </div>
  </div>
</div>