<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Add A Course</div>
                <div class="panel-body">

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Title</label>
                            <div class="col-md-8">
                                <%= @course.title %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Subject</label>
                            <div class="col-md-8">
                                <%= @course.subject %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Course Number</label>
                            <div class="col-md-8">
                                <%= @course.number %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Credit</label>
                            <div class="col-md-8">
                                <%= @course.hr_low  %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Major</label>
                            <div class="col-md-8">
                                <% if @course.major.any? %>
                                    <% @course.major.each do |major| %>
                                        <p><%= major.name %></p>
                                    <% end %>
                                <% else %>
                                    <p>Not Identified</p>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Minor</label>
                            <div class="col-md-8">
                                <% if @course.minor.any? %>
                                    <% @course.minor.each do |minor| %>
                                        <p><%= minor.name %></p>
                                    <% end %>
                                <% else %>
                                    <p>Not Identified</p>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Concentration</label>
                            <div class="col-md-8">
                                <% if @course.concentration.any? %>
                                    <% @course.concentration.each do |concentration| %>
                                        <p><%= concentration.name %></p>
                                    <% end %>
                                <% else %>
                                    <p>Not Identified</p>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <label class="col-md-4 control-label">Distribution</label>
                            <div class="col-md-8">
                                <% if @course.distribution.any? %>
                                    <% @course.distribution.each do |distribution| %>
                                        <p><%= distribution.title %></p>
                                    <% end %>
                                <% else %>
                                    <p>Not Identified</p>
                                <% end %>
                            </div>
                        </div>

                        <div class="col-md-12 col-md-12">
                            <div class="pull-right">
                                <%= link_to "Edit Course", controller: "courses", action: "edit", id: @course.id, :class => "col-sm-2" %>
                            </div>
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</div>