<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" style="margin: 10px 10px 20px 10px">
            <a href="/courses/new"><button class="btn btn-default">Add A Course</button></a>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Courses</div>
                <div class="panel-body">

                    <% @courses.each do |course| %>
                        <%= link_to course_path(:id => course.id), :method => :get do %>
                        <div class="panel panel-default col-md-6">
                            <div class="panel-body">
                                <div class="col-sm-10">
                                    <p><%= course.subject %> <%= course.number %> - <%= course.title %></p>
                                    <p>Credit: <%= course.credit %></p>
                                    <p>CRN: <%= course.crn %></p>
                                </div>
                                <%= link_to course_path(:id => course.id), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => "col-sm-2" do %>
                                    <i class="fa fa-times"></i>
                                <% end %>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                
                </div>
            </div>
        </div>
    </div>
</div>