<!-- app/views/layout/application.html.erb -->

<!DOCTYPE html>
<html lang="en">
<%
=begin comment
%>

 Copyright 2015 Amy Dewaal and Obed Tandadjaja

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
<%
=end%>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <title>Covenant College Advising</title>

    <%= stylesheet_link_tag "app/app" %>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <%= stylesheet_link_tag "chosen/chosen" %>
    <%= stylesheet_link_tag "chosen/chosen.min" %>
    <style>
        [data-tip] {
            position:relative;
        }
        [data-tip]:before {
            content:'';
            /* hides the tooltip when not hovered */
            display:none;
            content:'';
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid #000;
            position:absolute;
            top: 10px;
            left: 100%;
            z-index:8;
            font-size:0;
            line-height:0;
            width:0;
            height:0;
        }
        [data-tip]:after {
            display:none;
            content:attr(data-tip);
            position:absolute;
            left: 101%;
            top: 3px;
            padding:5px 8px;
            background:#1a1a1a;
            color:#fff;
            z-index:9;
            font-size: 0.75em;
            height: 2.5em;
            line-height:18px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            white-space:nowrap;
            word-wrap:normal;
        }
        [data-tip]:hover:before,
        [data-tip]:hover:after {
            display:block;
        }
        nav ul li a{
          color: black;
        }
        nav a i{
          color: black;
        }
        nav {
            margin-bottom: 20px;
        }
        .btn {
          white-space: normal;
          height: 100%;
        }
    </style>
    <%= yield :css %>

</head>
<body>
    <main>
    <nav>
        <div class="nav-wrapper grey lighten-5">
            <a class="brand-logo hide-on-large-only" href="/">
                <img src="/images/covenant_logo.png" style="height: 50px"/>
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
                <li><a href="/">
                <img src="/images/covenant_logo.png" style="height: 50px"/>
                </a></li>
                <li><a href="/">Home</a></li>
                <% if current_user %>
                    <% if current_user.role != 'student' %>
                    <li><a href="/majors">Majors</a></li>
                    <li><a href="/minors">Minors</a></li>
                    <li><a href="/concentrations">Concentrations</a></li>
                    <li><a href="/users">Users</a></li>
                    <% end %>
                <% end %>
            </ul>
            <ul class="right hide-on-med-and-down" style="margin-right: 15px">
                <% if current_user %>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <%= current_user.name %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= link_to "Profile", controller: "users", action: "show", id: current_user.id %></li>
                        <li><%= link_to "Logout", '/users/sign_out', method: 'delete' %></li>
                    </ul>
                </li>
                <% else %>
                <li><%= link_to 'Login', '/users/sign_in' %></li>
                <li><%= link_to 'Sign up', new_registration_path(resource_name) %></li>
                <% end %>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Home</a></li>
                <% if current_user %>
                    <% if current_user.role != 'student' %>
                    <li><a href="/majors">Majors</a></li>
                    <li><a href="/minors">Minors</a></li>
                    <li><a href="/concentrations">Concentrations</a></li>
                    <li><a href="/users">Users</a></li>
                    <% end %>
                    <li><%= link_to "Profile", controller: "users", action: "show", id: current_user.id %></li>
                    <li><%= link_to "Logout", '/users/sign_out', method: 'delete' %></li>
                <% else %>
                <li><%= link_to 'Login', '/users/sign_in' %></li>
                <li><%= link_to 'Sign up', new_registration_path(resource_name) %></li>
                <% end %>
            </ul>
        </div>
    </nav>

    <% if flash[:danger] %>
        <div class="alert alert-danger">
            <ul>
            <% if flash[:danger].kind_of?(Array) %>
                <% flash[:danger].each do |flash| %>
                    <%= content_tag :li, flash %>
                <% end %>
            <% else %>
                <%= content_tag :li, flash[:danger] %>
            <% end %>
            </ul>
        </div>
    <% end %>

    <% if flash[:success] %>
        <div class="alert alert-success">
            <ul>
            <% if flash[:success].kind_of?(Array) %>
                <% flash[:success].each do |flash| %>
                    <%= content_tag :li, flash %>
                <% end %>
            <% else %>
                <%= content_tag :li, flash[:success] %>
            <% end %>
            </ul>
        </div>
    <% end %>

    <% if notice %>
    <div class="alert alert-success">
        <%= notice %>
    </div>
    <% end %>

    <% if alert %>
    <div class="alert alert-danger">
        <%= alert %>
    </div>
    <% end %>

    <%= yield %>

    <div id="myModal" class="modal bottom-sheet">
        <div class="modal-content">
        <div class="container">
            <h4 class="modal-title text-center"></h4>
            <p class="modal-body text-center"></p>
        </div>
        </div>
    </div>

    </main>

    <footer class="page-footer transparent">
        <div class="footer-copyright blue">
            <div class="container">
                <p class="white-text text-lighten-4 left">Covenant College Advising</p>
                <p class="white-text text-lighten-4 right">© 2016 Covenant College</p>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <%= csrf_meta_tag %>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script> -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "chosen/chosen.jquery" %>
    <%= javascript_include_tag "chosen/chosen.jquery.min" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <%= javascript_include_tag "app/main" %>
    <%= javascript_include_tag "jquery.searchable-1.1.0.min.js" %>
    <%= javascript_include_tag "searchable-run-table" %>
    <%= javascript_include_tag "searchable-run" %>
    <%= yield :script %>

</body>
</html>
